<html>
	<h1>
		<title>Pair Programming</title>
	</h1>
<head>

<style>

.done{
	color: blue;
}

.continue {
	color: blue;
}


.linkleft {
	text-align: left;
	margin-top: 200px;
	color: green;
	border: green;

}

.linkleft a:link {
	color: green;
	border: green;
}

.linkright {
	text-align: right;
	color: red;
	padding: 30px;



}

.linkright a:link {
	color: red;
	padding: 30px;
}


</style>


</head
	<body>
		<link rel="stylesheet" href="/pair_work_style.css">
		<%= yield %>
</body>

</html>