// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: inline-block;
  overflow: hidden;

}

.thumb {
  max-width: 150px;
  overflow: hidden;
}

.thumb p {
  white-space: nowrap;
}