<section class="forms-example">
	<form action="/process" method="">
		<div class="input-group">
			<label for="site_search">Search:</label>
			<input type="search" name="site_search" placeholder="Hotdogs">
		</div>

		<div class="input-group">
			<label for="hotdog_style">What style of hotdog?</label>
			<input type="hotdogs" name="hotdogs" id="hotdog_style" placeholder="Austrian"> 
		</div>

		<input type="hidden">

		<div class="input-group">
		<label for="Password Field"></label>Secret Passwod<input type="password"></div>

		<div class="input-group">
			<label for="size_menu">Size:</label>
			<select name="size" id="menu_size">
				<option value="S" class=""></option>
				


		</div>






		<div class="input-group">
			<label for="hotdog_count">How many hotdogs?</label>
			<input type="number" name="hotdog_count" id="hotdog_count" placeholder="Enter No. Of Hotdogs">
		</div>

		<div class="input-type">
			<label for="what_time">Start time:</label>
			<input type="time" name="start_time" id="what_time">
		</div>

		<div class="input_group">
			<label for="what_time">Start time:</label>
			<input type="time" name="start_time" id="what_time">
		</div>

		<div class="input_group">
			<label for="date_start">Date</label>
			<input type="date" name="date_start" id="what_date" placeholder="Enter date">
	  	</div>

		<button>Send to Server</button>
		
	</form>
</section>