<!DOCTYPE html>

<html lang="en">
<head>
 	<meta charset="UTF-8">
 	<title>Forms Demo</title>
 	<link rel="stylesheet" href="normalize.css">
 	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">
		<nav>
			<ul>
				<h1>
 				<a href="/">Forms</a>
				</h1>		
 				<li><a href="/about">About</a>
  				<li><a href="/faq">Frequently Asked Question</a>


			</ul>

		</nav>

 	<%=yield %>
 	<footer>&copy; 2014 etc &lambda</footer>
 	</div>
</body>
</html>