<!DOCTYPE html>
<html>
<head>
  <title>Stockmovie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p><a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/faq">FAQ</a>
		<a href="/movies">Movies</a>
		<a href="/stock">Stock</a></p>

<%= yield %>

</body>
</html>
