<h2>About Todor</h2>

<div class="about">

  <div class="hero"></div>
  <p>Lorem ipsum dolor sit amet.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi nemo minima fugiat nostrum, quae accusantium ab ut eveniet porro itaque dolores, animi, possimus ullam ipsum nesciunt tempora, iste quod doloribus!</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, commodi, laudantium eveniet aliquid nisi tempore nihil repellendus inventore ab harum laboriosam, quis unde voluptates labore veniam tenetur. Perferendis, distinctio, obcaecati.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae cumque modi aspernatur aliquid molestias totam nam ab distinctio quasi dolorem. Amet dolorem obcaecati eligendi aliquid incidunt debitis soluta, beatae voluptatum?</p>
</div>
