<!DOCTYPE html>
<html>
<head>
  <title>Basics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<ul>
			<li><a href="/"></a>Home</li>
			<li><a href="/about">About</a></li>
			<li><a href="/faq"></a>FAQ</li>
		</ul>
	</nav>

<%= yield %>

</body>
</html>
